@require(landingPage)
@require(navbarOverrides)
@require(footer)

// mixins -------------------------------------------

schatten()
	box-shadow 2px 4px 3px #eee !important

rundung()
	border-radius .125rem

umrandung()
	border-image-slice 45 38 36 56 
	border-image-width 9px 9px 9px 9px 
	border-image-outset 4px 4px 4px 4px 
	border-image-repeat stretch stretch 
	border-image-source url('/img/frame.png')

	-webkit-border-image-slice 45 38 36 56 
	-webkit-border-image-width 9px 9px 9px 9px 
	-webkit-border-image-outset 4px 4px 9px 9px 
	-webkit-border-image-repeat stretch stretch 
	-webkit-border-image-source url('/img/frame.png') 

// custom -----------------------------------

.hideMe
	display none

body, .sidebar, .navbar
	background-image url('/img/paper.png') 

html, body

	font-family $fontA

	h1, h2, h3, h4, h5, h6
		//font-weight 800
		font-style regular
		font-family $fontB
		letter-spacing 1.5px
		color lighten($textColor, 15%)

	@media (max-width $MQMobile)
		font-size .9rem

em
	position relative
	z-index 3
	display inline-block
	background-color rgba(255, 248, 170, .75)
	background-image url('/img/paper.png')
	padding .2rem .7rem

em:before
	content ""
	z-index -1
	left -.1rem
	top 0em
	border-width 2px
	border-style solid
	border-color $danger
	position absolute
	border-right-color transparent
	width 98%
	height 1em
	transform rotate(.2deg)
	opacity 0.5
	border-radius 0.25em
	height 95%
	background-color rgba(222,233,33,.2)

em:after

	content ""
	z-index -1
	left 0em
	top -.2rem
	border-width 2px
	border-style solid
	border-color $danger
	border-left-color transparent
	border-top-color transparent
	position absolute
	width 99%
	height 1em
	transform rotate(-.51deg)
	opacity 0.5
	border-radius 0.25em
	height 102%
	background: linear-gradient(38deg, rgba(255,255,255,0) 43%, rgba(247,237,56,0.3) 100%);

.theme-default-content

	ul
		position relative
		margin .25rem 0
		color #eee
		padding .5rem 1.5rem
		margin .75rem 0
		list-style none
		border-radius .2rem
		@media (max-width $MQMobile)
			margin .75rem .5rem

		li
			position relative
			padding .35rem 0
			//border-right 1px solid #555
			margin-bottom 1rem
			color $textColor
			@media (max-width $MQMobile)
				font-size .9rem      

		li:before 
			content ''
			height 1.1rem
			width .9rem
			display block
			position absolute
			background-image url('/img/list.png')
			background-size cover
			background-position center
			transform translateY(-50%)
			filter invert(30%)
			left -1.75rem
			top 50%				  

.swal2-popup
	font-family $fontA

.googleMaps
	max-width 100% !important
	//border 1px solid #999 !important
	schatten()

iframe
	display flex
	min-width 100%
	max-width 100%
	width 100%
	min-height 200px


.header-anchor
	display none


// custom blocks ----------------------------------

.custom-block
	position relative

	background-image url('/img/paper.png') 

	.custom-block-title
		display none

.custom-block.danger
	background-color $danger
	padding 1rem 2.5rem
	color #efefef
	umrandung()
	h1, h2, h3, h4, h5, h6
		color #efefef


.custom-block.tip
	background-color $tip
	padding 1rem 2.5rem

	umrandung()
	
	color lighten($textColor, 10%)
	.custom-block-title
		color lighten($textColor, 10%)
	@media (max-width $MQMobile)
		padding .5rem 1.25rem
	@media (min-width 1200px)
		padding 1rem 5rem		

.custom-block.warning
	background-color $warning
	padding 1rem 2.5rem
	umrandung()
	color lighten($textColor, 10%)
	.custom-block-title
		color lighten($textColor, 10%)
	@media (max-width $MQMobile)
		padding .5rem 1.25rem
	@media (min-width 1200px)
		padding 1rem 5rem