.home
	margin-top 100vh !important
	box-shadow -5px -5px 16px #222

#lpCover
	position absolute
	top 0
	left 0
	right 0
	height 100vh
	overflow hidden
	box-shadow 0 5px 4px 1px #eee
	border-bottom 1px solid #222

.coverBg

	position absolute
	top 0
	left 0

	background #0f1015
	background-image url('/img/cover-bg.jpg')
	background-size cover
	background-position center center

	display block
	box-sizing border-box
	min-width 100vw
	min-height 190vh


	@media (max-width $MQMobile)

		height 100vh
		min-height 100vh

.coverMid

	position absolute
	top 0
	left 0

	background-image url('/img/cover-mid.png')
	background-size cover
	background-position left

	display block
	box-sizing border-box
	min-width 100vw
	min-height 100vh	

	@media (max-width $MQMobile)

		background-position -4.5rem

.coverTop

	position absolute
	top 5vh
	left 0

	background-image url('/img/cover-top.png')
	background-size cover
	background-position center

	display block
	box-sizing border-box
	min-width 100vw
	min-height 100vh
	transform scale(.7) !important

	@media (max-width $MQMobile)

		background-size 55rem
		background-repeat no-repeat
		background-position bottom center
		top 0	
		max-width 90vw
		transform scale(.95) !important
