.home
	margin-top 100vh !important

h1, h2, h3, h4, h5, h6
	border-bottom none

#lpCover
	position absolute
	top 0
	left 0
	right 0
	height 100vh
	overflow hidden
	box-shadow 0 5px 4px 1px #eee
	border-bottom 1px solid #222

.coverBg

	position absolute
	top 0
	left 0

	background #0f1015
	background-image url('/img/cover-bg.jpg')
	background-size cover
	background-position center

	display block
	box-sizing border-box
	min-width 100vw
	min-height 130vh


	@media (max-width $MQMobile)
		height 100vh
		min-height 100vh


.coverMid

	position absolute
	top 0
	left 0

	background-image url('/img/cover-mid.png')
	background-size cover
	background-position center

	display block
	box-sizing border-box
	min-width 100vw
	min-height 100vh	


	@media (max-width 800px)
		background-position -25rem

.coverTop

	position absolute
	top 5vh
	left 0

	background-image url('/img/cover-top.png')
	background-size 75vw
	background-position center
	background-repeat no-repeat
	display block
	box-sizing border-box
	min-width 100vw
	min-height 100vh

	filter drop-shadow(2px 4px 6px #111)

	@media (max-width 1120px)
		top -5vh
		background-size 45rem
		background-position bottom

