// colors
$accentColor = #8cce82
$textColor = #333

$danger = #ce1606
$tip = lighten(#e5ffc9, 20%)
$warning = #fffec9

$fontA = 'Karla', sans-serif;

// layout
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 740px
$homePageWidth = 960px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px

